.game {
  width: 50%;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: green;
}

.menu, .messages, .cards-display {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.card {
  border: 3px solid red;
  border-radius: 5px;
  background-color: white;
  color: #000000;
}

.unplayed {
  display: inline-block;
  margin-left: -3em;
  width: 37.5px;
  height: 50px;
}

.played {
  display: inline-block;
  margin-left: 50px;
  font-size: 20pt;
  width:  3.75em;
  height: 5.00em;
}
